<!-- claim_view.html -->
{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_header_container %}{% endblock page_header_container %}

{% block content_container %}

<!-- ROW 1 -->
<div class="row">
	<div class="col-md-12 block-center lead">Claim your badge</div>

	<div class="col-md-12 block-center">
	
	{% if form %}

		<form method="post">{% csrf_token %}
			{{ form|crispy }}
			<button type="submit">Submit claim code</button>
		</form>

	{% else %}
	
		<div class="row">

			<div class="col-md-12">
				<p class="lead">Congratulations {{ award.firstname }}!</p>
				<p>The <a href="http://clt.manoa.hawaii.edu">Center for Language & Technology</a> at the University of Hawaii at Manoa is proud to issue you the <span style="font-size: 1.2em">{{award.badge.name}}</span> badge to include in your <a href="http://backpack.openbadges.org/">Mozilla Backpack</a>.</p>
				
				<p>Not sure why you are here? Visit <a href="{{ award.badge.criteria }}" target="_blank">this page</a> to learn more about this badge and how you earned it.</p>

				<p>What can you do with your badge? Visit <a href="">this page</a> for tips on how to present your badge.</p>
			</div>
			
			<div class="col-md-12"><h1>To get started, please CLAIM your badge using one or both of the methods shown below.</h1></div>

			<div class="col-md-12 text-center">
				<h1>Download Your Badge</h1><hr>
				<h1><a href="http://backpack.openbadges.org/baker?assertion={{award.getAssertionUrl}}"><i class="fa fa-download fa-5x"></i></a></h1>
				<p style="text-align: center">
				Click to download your badge to your computer. You can then upload the badge to the backpack later or use it elsewhere as you wish.
				</p>

			</div>
			<div class="col-md-12">
				<hr>
				<p style="text-align: center">Questions about our badge? <a mailto="{{award.badge.issuer.contact}}">{{award.badge.issuer.contact}}</a></p>
				<p style="text-align: center">Technical questions about this site or other issue? <a mailto="llcit@hawaii.edu">llcit@hawaii.edu</a></p>
			</div>


<!-- <img style="border: 1px solid gray; width: 50%; cursor: pointer" onclick="issueIt()" src=""> -->
		</div>
	
	{% endif %}

	</div>
</div>

{% endblock content_container %}