<!-- create_view.html -->
{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_header_container %}{% endblock page_header_container %}

{% block content_container %}
<!-- ROW 1 -->
	<div class="row">
		<div class="col-md-6 block-center">
			<div class="lead text-center">{{ parent_object }}: Existing {{ object_type }}s </div>
			{% for i in current_objects %}
				<div>{{ i }}</div>
			{% endfor %}
			<div>
				
			</div>
		</div>
		<div class="col-md-6 block-center">
			<div class="lead text-center">{{ parent_object }}: Create {{ object_type }}</div>
			<div>
				<form method="post">{% csrf_token %}
					{{ form|crispy }}
					<button type="submit">Add {{ object_type }}</button>
				</form>
			</div>
		</div>
	</div>

{% endblock content_container %}